                              	Week 1                        	Week 2                        	Week 3                        	Week 4                        	Week 5                        	Week 6                        	Week 7                        	Week 8                        	Week 9                        	Week 10                       	
                              	12-03-23                      	12-10-23                      	12-17-23                      	01-07-23                      	01-14-23                      	01-21-23                      	01-28-23                      	02-04-23                      	02-18-23                      	02-25-23                      	
Girls 4th (G4)                	bye                           	bye                           	12:10pm vs. TriCity T1 (Away) 	9:30am vs. JYO J2 Red (Away)  	9:50am vs. TriCity T2 (Home)  	9:50am vs. JYO J2 Red (Home)  	9:50am vs. TriCity T1 (Home)  	9:30am vs. JYO J2 Red (Away)  	9:50am vs. TriCity T2 (Home)  	9:30am vs. JYO J1 Black (Away)	
CYS C                         	                              	                              	=hyperlink("https://maps.app.goo.gl/dpWV2qqcCZvcum6f7", "Mountain View High Gym (Main)")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("TBD", "TBD")      	=hyperlink("30://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	


Girls 4th (G4)                	12:10pm vs. JYO J1 Black (Home)	12:10pm vs. JYO J2 Red (Home) 	12:10pm vs. CYS C (Home)      	bye                           	12:10pm vs. YAO Y (Home)      	1:00pm vs. YAO Y (Away)       	9:50am vs. CYS C (Away)       	9:30am vs. JYO J1 Black (Away)	bye                           	9:30am vs. JYO J2 Red (Away)  	
TriCity T1                    	=hyperlink("https://maps.app.goo.gl/dpWV2qqcCZvcum6f7", "Mountain View High (Main)")	=hyperlink("https://maps.app.goo.gl/dpWV2qqcCZvcum6f7", "Mountain View High Gym (Main)")	=hyperlink("https://maps.app.goo.gl/dpWV2qqcCZvcum6f7", "Mountain View High Gym (Main)")	                              	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	                              	=hyperlink("TBD", "TBD")      	


Girls 4th (G4)                	bye                           	bye                           	9:30am vs. JYO J2 Red (Away)  	12:10pm vs. JYO J1 Black (Home)	9:50am vs. CYS C (Away)       	9:30am vs. JYO J1 Black (Away)	12:10pm vs. JYO J2 Red (Home) 	12:10pm vs. YAO Y (Home)      	9:50am vs. CYS C (Away)       	12:10pm vs. YAO Y (Home)      	
TriCity T2                    	                              	                              	=hyperlink("https://maps.app.goo.gl/1txjgHrVrvmZLbnT6", "Hillsdale High")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("30://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	


Girls 4th (G4)                	12:10pm vs. TriCity T1 (Away) 	1:00pm vs. YAO Y (Away)       	10:40am vs. YAO Y (Home)      	12:10pm vs. TriCity T2 (Away) 	bye                           	9:30am vs. TriCity T2 (Home)  	1:00pm vs. YAO Y (Away)       	9:30am vs. TriCity T1 (Home)  	bye                           	9:30am vs. CYS C (Home)       	
JYO J1 Black                  	=hyperlink("https://maps.app.goo.gl/dpWV2qqcCZvcum6f7", "Mountain View High (Main)")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/1txjgHrVrvmZLbnT6", "Hillsdale High")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	                              	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	                              	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	


Girls 4th (G4)                	1:00pm vs. YAO Y (Away)       	12:10pm vs. TriCity T1 (Away) 	9:30am vs. TriCity T2 (Home)  	9:30am vs. CYS C (Home)       	bye                           	9:50am vs. CYS C (Away)       	12:10pm vs. TriCity T2 (Away) 	9:30am vs. CYS C (Home)       	bye                           	9:30am vs. TriCity T1 (Home)  	
JYO J2 Red                    	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/dpWV2qqcCZvcum6f7", "Mountain View High Gym (Main)")	=hyperlink("https://maps.app.goo.gl/1txjgHrVrvmZLbnT6", "Hillsdale High")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	                              	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("TBD", "TBD")      	                              	=hyperlink("TBD", "TBD")      	


Girls 4th (G4)                	1:00pm vs. JYO J2 Red (Home)  	1:00pm vs. JYO J1 Black (Home)	10:40am vs. JYO J1 Black (Away)	bye                           	12:10pm vs. TriCity T1 (Away) 	1:00pm vs. TriCity T1 (Home)  	1:00pm vs. JYO J1 Black (Home)	12:10pm vs. TriCity T2 (Away) 	bye                           	12:10pm vs. TriCity T2 (Away) 	
YAO Y                         	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/1txjgHrVrvmZLbnT6", "Hillsdale High")	                              	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	                              	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	


Girls 5th/6th (G3)            	10:00am vs. JYO J2 Red (Home) 	9:30am vs. JYO J2 Red (Away)  	10:00am vs. TriCity T2 (Home) 	bye                           	1:20pm vs. TriCity T3 (Away)  	10:00am vs. JYO J1 Black (Home)	2:30pm vs. TriCity T1 (Away)  	9:50am vs. CYS C (Away)       	bye                           	10:00am vs. TriCity T1 (Home) 	
Assoc A1                      	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/1txjgHrVrvmZLbnT6", "Hillsdale High")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	                              	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	                              	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	


Girls 5th/6th (G3)            	bye                           	1:20pm vs. TriCity T3 (Away)  	11:10am vs. JYO J1 Black (Home)	10:00am vs. JYO J2 Red (Home) 	1:00pm vs. YAO Y (Away)       	11:10am vs. TriCity T2 (Home) 	10:00am vs. TriCity T3 (Home) 	bye                           	12:10pm vs. TriCity T2 (Away) 	10:40am vs. JYO J1 Black (Away)	
Assoc A2                      	                              	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	                              	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	


Girls 5th/6th (G3)            	1:20pm vs. TriCity T3 (Away)  	1:20pm vs. TriCity T2 (Away)  	9:50am vs. JYO J2 Red (Home)  	bye                           	11:00am vs. TriCity T1 (Home) 	11:00am vs. YAO Y (Home)      	9:30am vs. JYO J1 Black (Away)	9:50am vs. Assoc A1 (Home)    	1:20pm vs. TriCity T1 (Away)  	bye                           	
CYS C                         	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/dpWV2qqcCZvcum6f7", "Mountain View High Gym (Main)")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	                              	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	                              	


Girls 5th/6th (G3)            	1:20pm vs. TriCity T2 (Away)  	12:10pm vs. TriCity T1 (Away) 	11:10am vs. Assoc A2 (Away)   	10:40am vs. YAO Y (Home)      	bye                           	10:00am vs. Assoc A1 (Away)   	9:30am vs. CYS C (Home)       	10:40am vs. TriCity T3 (Home) 	bye                           	10:40am vs. Assoc A2 (Home)   	
JYO J1 Black                  	=hyperlink("https://maps.app.goo.gl/dpWV2qqcCZvcum6f7", "Mountain View High Gym (Main)")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	                              	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	                              	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	


Girls 5th/6th (G3)            	10:00am vs. Assoc A1 (Away)   	9:30am vs. Assoc A1 (Home)    	9:50am vs. CYS C (Away)       	10:00am vs. Assoc A2 (Away)   	bye                           	10:40am vs. TriCity T3 (Home) 	1:20pm vs. TriCity T2 (Away)  	10:40am vs. TriCity T1 (Home) 	bye                           	10:40am vs. TriCity T2 (Home) 	
JYO J2 Red                    	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/1txjgHrVrvmZLbnT6", "Hillsdale High")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	                              	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("TBD", "TBD")      	                              	=hyperlink("TBD", "TBD")      	


Girls 5th/6th (G3)            	12:10pm vs. YAO Y (Home)      	12:10pm vs. JYO J1 Black (Home)	1:00pm vs. YAO Y (Away)       	bye                           	11:00am vs. CYS C (Away)      	bye                           	2:30pm vs. Assoc A1 (Home)    	10:40am vs. JYO J2 Red (Away) 	1:20pm vs. CYS C (Home)       	10:00am vs. Assoc A1 (Away)   	
TriCity T1                    	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	                              	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	                              	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("TBD", "TBD")      	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	


Girls 5th/6th (G3)            	1:20pm vs. JYO J1 Black (Home)	1:20pm vs. CYS C (Home)       	10:00am vs. Assoc A1 (Away)   	bye                           	bye                           	11:10am vs. Assoc A2 (Away)   	1:20pm vs. JYO J2 Red (Home)  	1:00pm vs. YAO Y (Away)       	12:10pm vs. Assoc A2 (Home)   	10:40am vs. JYO J2 Red (Away) 	
TriCity T2                    	=hyperlink("https://maps.app.goo.gl/dpWV2qqcCZvcum6f7", "Mountain View High Gym (Main)")	=hyperlink("https://maps.app.goo.gl/dpWV2qqcCZvcum6f7", "Mountain View High Gym (Main)")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	                              	                              	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("TBD", "TBD")      	


Girls 5th/6th (G3)            	1:20pm vs. CYS C (Home)       	1:20pm vs. Assoc A2 (Home)    	bye                           	bye                           	1:20pm vs. Assoc A1 (Home)    	10:40am vs. JYO J2 Red (Away) 	10:00am vs. Assoc A2 (Away)   	10:40am vs. JYO J1 Black (Away)	2:30pm vs. YAO Y (Home)       	1:00pm vs. YAO Y (Away)       	
TriCity T3                    	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	                              	                              	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	


Girls 5th/6th (G3)            	12:10pm vs. TriCity T1 (Away) 	bye                           	1:00pm vs. TriCity T1 (Home)  	10:40am vs. JYO J1 Black (Away)	1:00pm vs. Assoc A2 (Home)    	11:00am vs. CYS C (Away)      	bye                           	1:00pm vs. TriCity T2 (Home)  	2:30pm vs. TriCity T3 (Away)  	1:00pm vs. TriCity T3 (Home)  	
YAO Y                         	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	                              	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	                              	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	


Girls 7th/8th/9th (G2)        	2:10pm vs. YAO Y (Away)       	10:00am vs. YAO Y (Home)      	12:20pm vs. TriCity T1 (Home) 	11:10am vs. TriCity T2 (Home) 	2:30pm vs. TriCity T2 (Away)  	12:20pm vs. JYO J Black (Home)	3:40pm vs. TriCity T1 (Away)  	bye                           	11:00am vs. CYS C (Away)      	bye                           	
Assoc A                       	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	                              	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	                              	


Girls 7th/8th/9th (G2)        	2:30pm vs. TriCity T2 (Away)  	2:30pm vs. TriCity T1 (Away)  	11:00am vs. TriCity T2 (Home) 	1:00pm vs. YAO Y (Away)       	bye                           	12:10pm vs. TriCity T1 (Home) 	11:00am vs. JYO J Black (Home)	bye                           	11:00am vs. Assoc A (Home)    	11:50am vs. JYO J Black (Away)	
CYS C                         	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/dpWV2qqcCZvcum6f7", "Mountain View High Gym (Main)")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	                              	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	                              	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	


Girls 7th/8th/9th (G2)        	2:30pm vs. TriCity T1 (Away)  	2:30pm vs. TriCity T2 (Away)  	11:50am vs. YAO Y (Home)      	11:50am vs. TriCity T1 (Home) 	bye                           	12:20pm vs. Assoc A (Away)    	11:00am vs. CYS C (Away)      	11:50am vs. TriCity T2 (Home) 	bye                           	11:50am vs. CYS C (Home)      	
JYO J Black                   	=hyperlink("https://maps.app.goo.gl/dpWV2qqcCZvcum6f7", "Mountain View High Gym (Main)")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/1txjgHrVrvmZLbnT6", "Hillsdale High")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	                              	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	                              	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	


Girls 7th/8th/9th (G2)        	2:30pm vs. JYO J Black (Home) 	2:30pm vs. CYS C (Home)       	12:20pm vs. Assoc A (Away)    	11:50am vs. JYO J Black (Away)	bye                           	12:10pm vs. CYS C (Away)      	3:40pm vs. Assoc A (Home)     	1:20pm vs. YAO Y (Home)       	bye                           	2:10pm vs. YAO Y (Away)       	
TriCity T1                    	=hyperlink("https://maps.app.goo.gl/dpWV2qqcCZvcum6f7", "Mountain View High Gym (Main)")	=hyperlink("https://maps.app.goo.gl/dpWV2qqcCZvcum6f7", "Mountain View High Gym (Main)")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	                              	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	                              	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	


Girls 7th/8th/9th (G2)        	2:30pm vs. CYS C (Home)       	2:30pm vs. JYO J Black (Home) 	11:00am vs. CYS C (Away)      	11:10am vs. Assoc A (Away)    	2:30pm vs. Assoc A (Home)     	12:10pm vs. YAO Y (Home)      	2:10pm vs. YAO Y (Away)       	11:50am vs. JYO J Black (Away)	bye                           	bye                           	
TriCity T2                    	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	                              	                              	


Girls 7th/8th/9th (G2)        	2:10pm vs. Assoc A (Home)     	10:00am vs. Assoc A (Away)    	11:50am vs. JYO J Black (Away)	1:00pm vs. CYS C (Home)       	bye                           	12:10pm vs. TriCity T2 (Away) 	2:10pm vs. TriCity T2 (Home)  	1:20pm vs. TriCity T1 (Away)  	bye                           	2:10pm vs. TriCity T1 (Home)  	
YAO Y                         	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/1txjgHrVrvmZLbnT6", "Hillsdale High")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	                              	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	                              	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	


Boys 4th/5th (DA)             	12:20pm vs. JYO J1 Black (Home)	12:20pm vs. JYO J2 Red (Home) 	1:30pm vs. JYO J4 White (Home)	12:20pm vs. TriCity T2 (Home) 	bye                           	bye                           	3:20pm vs. YAO Y2 (Away)      	1:00pm vs. JYO J4 White (Away)	3:40pm vs. TriCity T1 (Away)  	11:00am vs. CYS C3 (Away)     	
Assoc A1                      	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	                              	                              	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("TBD", "TBD")      	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	


Boys 4th/5th (DA)             	1:30pm vs. JYO J2 Red (Home)  	1:30pm vs. YAO Y2 (Home)      	bye                           	1:30pm vs. JYO J4 White (Home)	3:40pm vs. TriCity T2 (Away)  	bye                           	11:10am vs. JYO J1 Black (Home)	2:30pm vs. TriCity T1 (Away)  	12:10pm vs. CYS C2 (Away)     	1:00pm vs. JYO J3 Green (Away)	
Assoc A2                      	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	                              	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	                              	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	


Boys 4th/5th (DA)             	11:10am vs. TriCity T2 (Home) 	11:10am vs. JYO J4 White (Home)	1:00pm vs. JYO J1 Black (Away)	bye                           	bye                           	1:30pm vs. JYO J2 Red (Home)  	10:40am vs. JYO J3 Green (Away)	2:10pm vs. YAO Y1 (Away)      	1:00pm vs. YAO Y2 (Away)      	11:10am vs. CYS C1 (Home)     	
Assoc A3                      	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/1txjgHrVrvmZLbnT6", "Hillsdale High")	                              	                              	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	


Boys 4th/5th (DA)             	9:50am vs. JYO J4 White (Home)	bye                           	2:10pm vs. JYO J2 Red (Away)  	2:10pm vs. JYO J3 Green (Away)	12:10pm vs. TriCity T1 (Home) 	1:20pm vs. JYO J3 Green (Home)	11:50am vs. JYO J4 White (Away)	11:00am vs. JYO J1 Black (Home)	bye                           	11:10am vs. Assoc A3 (Away)   	
CYS C1                        	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	                              	=hyperlink("https://maps.app.goo.gl/1txjgHrVrvmZLbnT6", "Hillsdale High")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	                              	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	


Boys 4th/5th (DA)             	bye                           	10:40am vs. JYO J1 Black (Away)	12:10pm vs. TriCity T1 (Home) 	2:10pm vs. YAO Y1 (Away)      	bye                           	1:00pm vs. JYO J4 White (Away)	12:10pm vs. TriCity T2 (Home) 	1:00pm vs. JYO J3 Green (Away)	12:10pm vs. Assoc A2 (Home)   	9:50am vs. YAO Y2 (Home)      	
CYS C2                        	                              	=hyperlink("https://maps.app.goo.gl/1txjgHrVrvmZLbnT6", "Hillsdale High")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	                              	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	


Boys 4th/5th (DA)             	11:00am vs. JYO J3 Green (Home)	3:40pm vs. TriCity T1 (Away)  	bye                           	1:00pm vs. JYO J1 Black (Away)	2:10pm vs. YAO Y1 (Away)      	1:20pm vs. TriCity T2 (Away)  	1:20pm vs. JYO J2 Red (Home)  	12:10pm vs. YAO Y2 (Home)     	bye                           	11:00am vs. Assoc A1 (Home)   	
CYS C3                        	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/dpWV2qqcCZvcum6f7", "Mountain View High Gym (Main)")	                              	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	                              	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	


Boys 4th/5th (DA)             	12:20pm vs. Assoc A1 (Away)   	10:40am vs. CYS C2 (Home)     	1:00pm vs. Assoc A3 (Home)    	1:00pm vs. CYS C3 (Home)      	bye                           	11:50am vs. YAO Y1 (Home)     	11:10am vs. Assoc A2 (Away)   	11:00am vs. CYS C1 (Away)     	bye                           	1:20pm vs. TriCity T2 (Away)  	
JYO J1 Black                  	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/1txjgHrVrvmZLbnT6", "Hillsdale High")	=hyperlink("https://maps.app.goo.gl/1txjgHrVrvmZLbnT6", "Hillsdale High")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	                              	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	                              	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	


Boys 4th/5th (DA)             	1:30pm vs. Assoc A2 (Away)    	12:20pm vs. Assoc A1 (Away)   	2:10pm vs. CYS C1 (Home)      	3:20pm vs. YAO Y2 (Home)      	bye                           	1:30pm vs. Assoc A3 (Away)    	1:20pm vs. CYS C3 (Away)      	11:50am vs. TriCity T2 (Home) 	bye                           	11:50am vs. YAO Y1 (Home)     	
JYO J2 Red                    	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/1txjgHrVrvmZLbnT6", "Hillsdale High")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	                              	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("TBD", "TBD")      	                              	=hyperlink("TBD", "TBD")      	


Boys 4th/5th (DA)             	11:00am vs. CYS C3 (Away)     	2:10pm vs. YAO Y1 (Away)      	2:10pm vs. YAO Y2 (Away)      	2:10pm vs. CYS C1 (Home)      	bye                           	1:20pm vs. CYS C1 (Away)      	10:40am vs. Assoc A3 (Home)   	1:00pm vs. CYS C2 (Home)      	bye                           	1:00pm vs. Assoc A2 (Home)    	
JYO J3 Green                  	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	                              	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	                              	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	


Boys 4th/5th (DA)             	9:50am vs. CYS C1 (Away)      	11:10am vs. Assoc A3 (Away)   	1:30pm vs. Assoc A1 (Away)    	1:30pm vs. Assoc A2 (Away)    	bye                           	1:00pm vs. CYS C2 (Home)      	11:50am vs. CYS C1 (Home)     	1:00pm vs. Assoc A1 (Home)    	bye                           	1:00pm vs. TriCity T1 (Home)  	
JYO J4 White                  	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	                              	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("TBD", "TBD")      	                              	=hyperlink("TBD", "TBD")      	


Boys 4th/5th (DA)             	3:40pm vs. YAO Y1 (Home)      	3:40pm vs. CYS C3 (Home)      	12:10pm vs. CYS C2 (Away)     	bye                           	12:10pm vs. CYS C1 (Away)     	2:10pm vs. YAO Y2 (Away)      	bye                           	2:30pm vs. Assoc A2 (Home)    	3:40pm vs. Assoc A1 (Home)    	1:00pm vs. JYO J4 White (Away)	
TriCity T1                    	=hyperlink("https://maps.app.goo.gl/dpWV2qqcCZvcum6f7", "Mountain View High Gym (Main)")	=hyperlink("https://maps.app.goo.gl/dpWV2qqcCZvcum6f7", "Mountain View High Gym (Main)")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	                              	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	                              	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("TBD", "TBD")      	


Boys 4th/5th (DA)             	11:10am vs. Assoc A3 (Away)   	bye                           	1:20pm vs. YAO Y1 (Home)      	12:20pm vs. Assoc A1 (Away)   	3:40pm vs. Assoc A2 (Home)    	1:20pm vs. CYS C3 (Home)      	12:10pm vs. CYS C2 (Away)     	11:50am vs. JYO J2 Red (Away) 	bye                           	1:20pm vs. JYO J1 Black (Home)	
TriCity T2                    	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	                              	=hyperlink("https://maps.app.goo.gl/dpWV2qqcCZvcum6f7", "Mountain View High Gym (Main)")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("TBD", "TBD")      	                              	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	


Boys 4th/5th (DA)             	3:40pm vs. TriCity T1 (Away)  	2:10pm vs. JYO J3 Green (Home)	1:20pm vs. TriCity T2 (Away)  	2:10pm vs. CYS C2 (Home)      	2:10pm vs. CYS C3 (Home)      	11:50am vs. JYO J1 Black (Away)	bye                           	2:10pm vs. Assoc A3 (Home)    	bye                           	11:50am vs. JYO J2 Red (Away) 	
YAO Y1                        	=hyperlink("https://maps.app.goo.gl/dpWV2qqcCZvcum6f7", "Mountain View High Gym (Main)")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/dpWV2qqcCZvcum6f7", "Mountain View High Gym (Main)")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	                              	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	                              	=hyperlink("TBD", "TBD")      	


Boys 4th/5th (DA)             	bye                           	1:30pm vs. Assoc A2 (Away)    	2:10pm vs. JYO J3 Green (Home)	3:20pm vs. JYO J2 Red (Away)  	bye                           	2:10pm vs. TriCity T1 (Home)  	3:20pm vs. Assoc A1 (Home)    	12:10pm vs. CYS C3 (Away)     	1:00pm vs. Assoc A3 (Home)    	9:50am vs. CYS C2 (Away)      	
YAO Y2                        	                              	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	                              	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	


Boys 6th (DN)                 	3:40pm vs. TriCity T1 (Away)  	2:40pm vs. JYO J1 Black (Home)	2:30pm vs. TriCity T2 (Away)  	2:40pm vs. TriCity T1 (Home)  	3:20pm vs. YAO Y2 (Away)      	2:40pm vs. CYS C (Home)       	12:20pm vs. JYO J2 Red (Home) 	bye                           	2:10pm vs. YAO Y1 (Away)      	bye                           	
Assoc A1                      	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/dpWV2qqcCZvcum6f7", "Mountain View High Gym (Main)")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	                              	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	                              	


Boys 6th (DN)                 	4:50pm vs. TriCity T2 (Away)  	3:50pm vs. JYO J2 Red (Home)  	3:20pm vs. JYO J1 Black (Away)	bye                           	bye                           	3:50pm vs. YAO Y2 (Home)      	1:30pm vs. TriCity T2 (Home)  	3:20pm vs. YAO Y1 (Away)      	3:20pm vs. YAO Y2 (Away)      	12:20pm vs. YAO Y1 (Home)     	
Assoc A2                      	=hyperlink("https://maps.app.goo.gl/dpWV2qqcCZvcum6f7", "Mountain View High Gym (Main)")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/1txjgHrVrvmZLbnT6", "Hillsdale High")	                              	                              	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	


Boys 6th (DN)                 	12:10pm vs. JYO J1 Black (Home)	3:20pm vs. YAO Y2 (Away)      	1:20pm vs. JYO J2 Red (Home)  	bye                           	bye                           	2:40pm vs. Assoc A1 (Away)    	4:30pm vs. YAO Y2 (Away)      	1:20pm vs. YAO Y2 (Home)      	1:20pm vs. TriCity T2 (Home)  	2:10pm vs. JYO J2 Red (Away)  	
CYS C                         	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	                              	                              	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("TBD", "TBD")      	


Boys 6th (DN)                 	12:10pm vs. CYS C (Away)      	2:40pm vs. Assoc A1 (Away)    	3:20pm vs. Assoc A2 (Home)    	1:20pm vs. TriCity T2 (Away)  	bye                           	3:20pm vs. YAO Y1 (Home)      	4:50pm vs. TriCity T1 (Away)  	2:10pm vs. TriCity T1 (Home)  	bye                           	2:10pm vs. TriCity T2 (Home)  	
JYO J1 Black                  	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/1txjgHrVrvmZLbnT6", "Hillsdale High")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	                              	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	                              	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	


Boys 6th (DN)                 	9:30am vs. YAO Y2 (Home)      	3:50pm vs. Assoc A2 (Away)    	1:20pm vs. CYS C (Away)       	3:20pm vs. YAO Y1 (Away)      	bye                           	2:10pm vs. TriCity T1 (Home)  	12:20pm vs. Assoc A1 (Away)   	2:10pm vs. TriCity T2 (Home)  	bye                           	2:10pm vs. CYS C (Home)       	
JYO J2 Red                    	=hyperlink("https://maps.app.goo.gl/1txjgHrVrvmZLbnT6", "Hillsdale High")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	                              	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("TBD", "TBD")      	                              	=hyperlink("TBD", "TBD")      	


Boys 6th (DN)                 	3:40pm vs. Assoc A1 (Home)    	3:40pm vs. YAO Y1 (Home)      	3:20pm vs. YAO Y1 (Away)      	2:40pm vs. Assoc A1 (Away)    	bye                           	2:10pm vs. JYO J2 Red (Away)  	4:50pm vs. JYO J1 Black (Home)	2:10pm vs. JYO J1 Black (Away)	bye                           	2:30pm vs. YAO Y2 (Home)      	
TriCity T1                    	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	                              	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	                              	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	


Boys 6th (DN)                 	4:50pm vs. Assoc A2 (Home)    	bye                           	2:30pm vs. Assoc A1 (Home)    	1:20pm vs. JYO J1 Black (Home)	4:50pm vs. YAO Y1 (Home)      	bye                           	1:30pm vs. Assoc A2 (Away)    	2:10pm vs. JYO J2 Red (Away)  	1:20pm vs. CYS C (Away)       	2:10pm vs. JYO J1 Black (Away)	
TriCity T2                    	=hyperlink("https://maps.app.goo.gl/dpWV2qqcCZvcum6f7", "Mountain View High Gym (Main)")	                              	=hyperlink("https://maps.app.goo.gl/dpWV2qqcCZvcum6f7", "Mountain View High Gym (Main)")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	                              	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("TBD", "TBD")      	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	


Boys 6th (DN)                 	bye                           	3:40pm vs. TriCity T1 (Away)  	3:20pm vs. TriCity T1 (Home)  	3:20pm vs. JYO J2 Red (Home)  	4:50pm vs. TriCity T2 (Away)  	3:20pm vs. JYO J1 Black (Away)	bye                           	3:20pm vs. Assoc A2 (Home)    	2:10pm vs. Assoc A1 (Home)    	12:20pm vs. Assoc A2 (Away)   	
YAO Y1                        	                              	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	                              	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	


Boys 6th (DN)                 	9:30am vs. JYO J2 Red (Away)  	3:20pm vs. CYS C (Home)       	bye                           	bye                           	3:20pm vs. Assoc A1 (Home)    	3:50pm vs. Assoc A2 (Away)    	4:30pm vs. CYS C (Home)       	1:20pm vs. CYS C (Away)       	3:20pm vs. Assoc A2 (Home)    	2:30pm vs. TriCity T1 (Away)  	
YAO Y2                        	=hyperlink("https://maps.app.goo.gl/1txjgHrVrvmZLbnT6", "Hillsdale High")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	                              	                              	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	


Boys 7th (CA)                 	2:40pm vs. TriCity T (Home)   	4:00pm vs. JYO J2 Red (Home)  	2:40pm vs. JYO J1 Black (Home)	3:50pm vs. CYS C (Home)       	4:30pm vs. YAO Y1 (Away)      	2:30pm vs. TriCity T (Away)   	bye                           	3:20pm vs. JYO J1 Black (Away)	bye                           	3:20pm vs. YAO Y2 (Away)      	
Assoc A                       	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	                              	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	                              	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	


Boys 7th (CA)                 	bye                           	11:50am vs. JYO J1 Black (Away)	4:30pm vs. YAO Y1 (Away)      	3:50pm vs. Assoc A (Away)     	1:20pm vs. YAO Y2 (Home)      	2:30pm vs. JYO J2 Red (Home)  	2:30pm vs. YAO Y1 (Home)      	3:20pm vs. JYO J2 Red (Away)  	2:30pm vs. YAO Y1 (Home)      	bye                           	
CYS C                         	                              	=hyperlink("https://maps.app.goo.gl/1txjgHrVrvmZLbnT6", "Hillsdale High")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("TBD", "TBD")      	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	                              	


Boys 7th (CA)                 	10:40am vs. YAO Y1 (Home)     	11:50am vs. CYS C (Home)      	2:40pm vs. Assoc A (Away)     	4:30pm vs. YAO Y1 (Away)      	bye                           	3:20pm vs. YAO Y2 (Away)      	1:00pm vs. YAO Y2 (Home)      	3:20pm vs. Assoc A (Home)     	bye                           	3:40pm vs. TriCity T (Away)   	
JYO J1 Black                  	=hyperlink("https://maps.app.goo.gl/1txjgHrVrvmZLbnT6", "Hillsdale High")	=hyperlink("https://maps.app.goo.gl/1txjgHrVrvmZLbnT6", "Hillsdale High")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	                              	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	                              	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	


Boys 7th (CA)                 	3:20pm vs. YAO Y2 (Away)      	4:00pm vs. Assoc A (Away)     	4:30pm vs. YAO Y2 (Home)      	2:30pm vs. TriCity T (Away)   	bye                           	2:30pm vs. CYS C (Away)       	2:10pm vs. TriCity T (Home)   	3:20pm vs. CYS C (Home)       	bye                           	3:20pm vs. YAO Y1 (Home)      	
JYO J2 Red                    	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/1txjgHrVrvmZLbnT6", "Hillsdale High")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	                              	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("TBD", "TBD")      	                              	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	


Boys 7th (CA)                 	2:40pm vs. Assoc A (Away)     	4:30pm vs. YAO Y1 (Away)      	bye                           	2:30pm vs. JYO J2 Red (Home)  	bye                           	2:30pm vs. Assoc A (Home)     	2:10pm vs. JYO J2 Red (Away)  	3:40pm vs. YAO Y2 (Home)      	4:30pm vs. YAO Y2 (Away)      	3:40pm vs. JYO J1 Black (Home)	
TriCity T                     	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	                              	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	                              	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	


Boys 7th (CA)                 	10:40am vs. JYO J1 Black (Away)	4:30pm vs. TriCity T (Home)   	4:30pm vs. CYS C (Home)       	4:30pm vs. JYO J1 Black (Home)	4:30pm vs. Assoc A (Home)     	bye                           	2:30pm vs. CYS C (Away)       	bye                           	2:30pm vs. CYS C (Away)       	3:20pm vs. JYO J2 Red (Away)  	
YAO Y1                        	=hyperlink("https://maps.app.goo.gl/1txjgHrVrvmZLbnT6", "Hillsdale High")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	                              	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	                              	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	


Boys 7th (CA)                 	3:20pm vs. JYO J2 Red (Home)  	bye                           	4:30pm vs. JYO J2 Red (Away)  	bye                           	1:20pm vs. CYS C (Away)       	3:20pm vs. JYO J1 Black (Home)	1:00pm vs. JYO J1 Black (Away)	3:40pm vs. TriCity T (Away)   	4:30pm vs. TriCity T (Home)   	3:20pm vs. Assoc A (Home)     	
YAO Y2                        	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	                              	=hyperlink("https://maps.app.goo.gl/1txjgHrVrvmZLbnT6", "Hillsdale High")	                              	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	


Boys 8th/9th (CN)             	3:50pm vs. YAO Y1 (Home)      	bye                           	3:40pm vs. TriCity T1 (Away)  	4:00pm vs. JYO J2 Red (Home)  	5:40pm vs. YAO Y1 (Away)      	4:00pm vs. TriCity T1 (Home)  	bye                           	4:30pm vs. JYO J1 Black (Away)	4:50pm vs. TriCity T2 (Away)  	1:30pm vs. YAO Y2 (Home)      	
Assoc A                       	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	                              	=hyperlink("https://maps.app.goo.gl/dpWV2qqcCZvcum6f7", "Mountain View High Gym (Main)")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	                              	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	


Boys 8th/9th (CN)             	bye                           	9:50am vs. JYO J2 Red (Home)  	2:30pm vs. JYO J1 Black (Home)	bye                           	2:30pm vs. TriCity T2 (Home)  	4:30pm vs. JYO J2 Red (Away)  	5:40pm vs. YAO Y1 (Away)      	2:30pm vs. TriCity T1 (Home)  	5:40pm vs. YAO Y2 (Away)      	4:50pm vs. TriCity T1 (Away)  	
CYS C                         	                              	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	                              	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	


Boys 8th/9th (CN)             	4:50pm vs. TriCity T1 (Away)  	1:00pm vs. YAO Y2 (Home)      	2:30pm vs. CYS C (Away)       	3:40pm vs. TriCity T2 (Away)  	bye                           	4:30pm vs. YAO Y2 (Away)      	3:20pm vs. TriCity T2 (Home)  	4:30pm vs. Assoc A (Home)     	bye                           	3:20pm vs. YAO Y1 (Home)      	
JYO J1 Black                  	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/1txjgHrVrvmZLbnT6", "Hillsdale High")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	                              	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	                              	=hyperlink("TBD", "TBD")      	


Boys 8th/9th (CN)             	4:30pm vs. YAO Y2 (Away)      	9:50am vs. CYS C (Away)       	5:40pm vs. YAO Y1 (Away)      	4:00pm vs. Assoc A (Away)     	bye                           	4:30pm vs. CYS C (Home)       	4:30pm vs. TriCity T1 (Home)  	4:30pm vs. YAO Y2 (Home)      	bye                           	4:30pm vs. TriCity T2 (Home)  	
JYO J2 Red                    	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	                              	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("TBD", "TBD")      	                              	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	


Boys 8th/9th (CN)             	4:50pm vs. JYO J1 Black (Home)	2:10pm vs. YAO Y1 (Away)      	3:40pm vs. Assoc A (Home)     	4:50pm vs. YAO Y1 (Home)      	bye                           	4:00pm vs. Assoc A (Away)     	4:30pm vs. JYO J2 Red (Away)  	2:30pm vs. CYS C (Away)       	bye                           	4:50pm vs. CYS C (Home)       	
TriCity T1                    	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/1txjgHrVrvmZLbnT6", "Hillsdale High")	=hyperlink("https://maps.app.goo.gl/dpWV2qqcCZvcum6f7", "Mountain View High Gym (Main)")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	                              	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	                              	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	


Boys 8th/9th (CN)             	bye                           	bye                           	4:50pm vs. YAO Y2 (Home)      	3:40pm vs. JYO J1 Black (Home)	2:30pm vs. CYS C (Away)       	3:40pm vs. YAO Y1 (Home)      	3:20pm vs. JYO J1 Black (Away)	4:30pm vs. YAO Y1 (Away)      	4:50pm vs. Assoc A (Home)     	4:30pm vs. JYO J2 Red (Away)  	
TriCity T2                    	                              	                              	=hyperlink("https://maps.app.goo.gl/dpWV2qqcCZvcum6f7", "Mountain View High Gym (Main)")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/ppytZ3k2Jdz5iG1x8", "Wilcox High (Aux)")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/Z2X5CVy2ZyGwfdpp9", "Aragon High")	


Boys 8th/9th (CN)             	3:50pm vs. Assoc A (Away)     	2:10pm vs. TriCity T1 (Home)  	5:40pm vs. JYO J2 Red (Home)  	4:50pm vs. TriCity T1 (Away)  	5:40pm vs. Assoc A (Home)     	3:40pm vs. TriCity T2 (Away)  	5:40pm vs. CYS C (Home)       	4:30pm vs. TriCity T2 (Home)  	bye                           	3:20pm vs. JYO J1 Black (Away)	
YAO Y1                        	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	=hyperlink("https://maps.app.goo.gl/1txjgHrVrvmZLbnT6", "Hillsdale High")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/tKugf9UutcqDeBvY7", "Mountain View High (Aux)")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	                              	=hyperlink("TBD", "TBD")      	


Boys 8th/9th (CN)             	4:30pm vs. JYO J2 Red (Home)  	1:00pm vs. JYO J1 Black (Away)	4:50pm vs. TriCity T2 (Away)  	bye                           	bye                           	4:30pm vs. JYO J1 Black (Home)	bye                           	4:30pm vs. JYO J2 Red (Away)  	5:40pm vs. CYS C (Home)       	1:30pm vs. Assoc A (Away)     	
YAO Y2                        	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/1txjgHrVrvmZLbnT6", "Hillsdale High")	=hyperlink("https://maps.app.goo.gl/dpWV2qqcCZvcum6f7", "Mountain View High Gym (Main)")	                              	                              	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	                              	=hyperlink("TBD", "TBD")      	=hyperlink("https://maps.app.goo.gl/4HLxeEwvUYxkU3hg8", "George Washington High")	=hyperlink("https://maps.app.goo.gl/UeeBcB7iGQUw6gxY9", "JCCC")	


